<section class="home py-4">
    <div class="container">
        <div class="row text-md-center">
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <div class="card">
                    <img src="assets/img/home/gestion-citas.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Gestionar citas</h5>
                        <p class="card-text">Módulo encargado de crear, actualizar, eliminar y listar las citas de la clínica.</p>
                        <a id="font" href="/cita" class="btn btn-primary">Gestionar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <div class="card">
                    <img src="assets/img/home/administracion.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Administración</h5>
                        <p class="card-text">Módulo encargado de la creación de médicos, pacientes y eps. Así mismo como la actualización, eliminación y listado de estos.</p>
                        <a id="font" href="/administracion" class="btn btn-primary">Administrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>